
a{
    touch-action: manipulation;
}
img{
    opacity: 1;
    transition: opacity 1s;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.last-reset:last-child{
    margin-bottom: 0;
}
.is-uppercase,.uppercase{
    line-height: 1.2;
    text-transform: uppercase;
}
.uppercase,h6,span.widget-title,th{
    letter-spacing: .05em;
    line-height: 1.05;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: 700;
    font-style: normal;
}